<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Apepat:</strong>
  <%= @cliente.apepat %>
</p>

<p>
  <strong>Apemat:</strong>
  <%= @cliente.apemat %>
</p>

<p>
  <strong>Tipdoc:</strong>
  <%= @cliente.tipdoc %>
</p>

<p>
  <strong>Numdoc:</strong>
  <%= @cliente.numdoc %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @cliente.direccion %>
</p>

<p>
  <strong>Fecnac:</strong>
  <%= @cliente.fecnac %>
</p>

<p>
  <strong>Tfno:</strong>
  <%= @cliente.tfno %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @cliente.celular %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>