<%= form_for(@moneda) do |f| %>
  <% if @moneda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moneda.errors.count, "error") %> prohibited this moneda from being saved:</h2>

      <ul>
      <% @moneda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom_moneda, "Nombre de Moneda" %><br>
    <%= f.text_field :nom_moneda %>
  </div>
  <div class="field">
    <%= f.label :simb_moneda, "Simbolo de Moneda" %><br>
    <%= f.text_field :simb_moneda %>
  </div>
  <div class="field">
    <%= f.label :abrev_moneda, "Abreviatura de Moneda" %><br>
    <%= f.text_field :abrev_moneda %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
