<p id="notice"><%= notice %></p>

<h1>Listing Monedas</h1>

<table>
  <thead>
    <tr>
      <th>Nom moneda</th>
      <th>Simb moneda</th>
      <th>Abrev moneda</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monedas.each do |moneda| %>
      <tr>
        <td><%= moneda.nom_moneda %></td>
        <td><%= moneda.simb_moneda %></td>
        <td><%= moneda.abrev_moneda %></td>
        <td><%= link_to 'Show', moneda %></td>
        <td><%= link_to 'Edit', edit_moneda_path(moneda) %></td>
        <td><%= link_to 'Destroy', moneda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moneda', new_moneda_path %>