<p id="notice"><%= notice %></p>

<h1>Listing Movimientos</h1>

<table>
  <thead>
    <tr>
      <th>Monto</th>
      <th>Fecha</th>
      <th>Cuenta</th>
      <th>Tipoperacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movimientos.each do |movimiento| %>
      <tr>
        <td><%= movimiento.monto %></td>
        <td><%= movimiento.fecha %></td>
        <td><%= movimiento.cuenta.numero_cta %></td>
        <td><%= movimiento.tipoperacion.abrev_opera %></td>
        <td><%= link_to 'Show', movimiento %></td>
        <td><%= link_to 'Edit', edit_movimiento_path(movimiento) %></td>
        <td><%= link_to 'Destroy', movimiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movimiento', new_movimiento_path %>
